<a href="https://colab.research.google.com/github/uuzin1004/Python_repo/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
total = 0
counter = 1
while counter <= 10:
 grad = int(input ("Enter grade: "))
 total = grade + total
 counter = counter + 1

average = total / 10
print(average)55

Enter grade: 1
Enter grade: 2
Enter grade: 3
Enter grade: 4
Enter grade: 56
Enter grade: 7
Enter grade: 45
Enter grade: 57
Enter grade: 12
Enter grade: 23
22.0

In [8]:
print("3개의 값을 입력하시오")
x = int(input("Enter the x: "))
y = int(input("Enter the y: "))
z = int(input("Enter the z: "))
x = x + 1
y = y + 1
z = z + 1
print("변경된 값 : ", x, y, z)

3개의 값을 입력하시오
Enter the x: 123
Enter the y: 456
Enter the z: 564
변경된 값 :  124 457 565

In [9]:
a = 10
b = 8750
c = a * b
print(c)

87500

In [11]:
pay_rate = 8750
hours_worked = int(input("일을 한 전체 시간입력하세요!: " ))
monthly_pay = hours_worked * pay_rate
print(monthly_pay)

일을 한 전체 시간입력하세요!: 30
262500

In [12]:
won = 100000
usd = won * 1130
print(usd)

113000000

In [13]:
exchange_rate = int(input("현재 환율입력: "))
won = 100000
usd = won * exchange_rate
print(usd)

현재 환율입력: 52
5200000

In [14]:
fahrenheit = 100
celsius = fahrenheit-32
celsius = celsius * 5
celsius = celsius/9
print(celsius)

37.77777777777778

In [15]:
x = 0
y = 0
x = int(input("정수 x를 입력하시오: "))
y = int(input("정수 y를 입력하시오: "))
sum = x + y
print(sum)

정수 x를 입력하시오: 123
정수 y를 입력하시오: 456
579

In [18]:
price = int(input("상품의 가격을 입력하시오: "))
vat = price * 0.1
print(vat)

상품의 가격을 입력하시오: 8700
870.0

In [17]:
age = int(input("현재 나이를 입력하시오.: "))
age = age + 10
print("10년후면", age, " 세가 되시는 군요")

현재 나이를 입력하시오.: 20
10년후면 30  세가 되시는 군요

In [21]:
print("########################")
print("# 배송료 계산 프로그램 #")
print("########################")
price= int(input("상품의 가격을 입력하세요: "))
if price > 2000:
 shipping_cost = 0
else:
   shipping_cost = 3000
print(shipping_cost)

########################
# 배송료 계산 프로그램 #
########################
상품의 가격을 입력하세요: 875600
0

In [24]:
print("########################")
print("# 합격 불합격 프로그램 #")
print("########################")

grade = int(input("성적을 입력하시오.: "))
if grade >= 60 :
 print("합격")
else :
 print("불합격")

########################
# 합격 불합격 프로그램 #
########################
성적을 입력하시오.: 100
합격

In [25]:
print("근무 시간을 입력하시오")
work_hour=int(input("근무시간 입력: "))

if work_hour > 72 :
 print("초과근무 하셨습니다.")
else: 
   print("정상근무하셨습니다.")

근무 시간을 입력하시오
근무시간 입력: 10
정상근무하셨습니다.

In [26]:
print("########################")
print("# 짝수와 홀수 판별 앱 #")
print("########################")

x = int(input("x값 정수를 입력하시오: "))
if (x % 2) != 0 :
 print("홀수입니다.")
else:
  print("짝수입니다.")

########################
# 짝수와 홀수 판별 앱 #
########################
x값 정수를 입력하시오: 52
짝수입니다.

In [27]:
print("정수를 입력하시오.")
x= int(input("정수값 x를 입력하시오.: "))
y= int(input("정수값 y를 입력하시오.: "))
if x > y :
 print(x)
else: 
 print(y)

정수를 입력하시오.
정수값 x를 입력하시오.: 20
정수값 y를 입력하시오.: 60
60

In [28]:
print("########################")
print("# 이름, 나이, 답변 앱 #")
print("########################")

yu_name = str(input("이름: "))
yu_age = int(input("나이: "))

if yu_age <= 25 :
 print("와우!!! 프로그래밍을 완벽하게 배울수 있는 나이입니다.!")
else:
 print("포기하기에는 아직 늦지 않았습니다.")
 print("\n")

########################
# 이름, 나이, 답변 앱 #
########################
이름: 정유진
나이: 20
와우!!! 프로그래밍을 완벽하게 배울수 있는 나이입니다.!

In [41]:
price = int(input("상품의 가격을 입력하세요.: "))

if price > 100000:
 shipping_cost = 0
elif price>2000:
 shipping_cost = 3000
else:
 shipping_cost = 5000

print("배송료는", shipping_cost, "입니다.")

상품의 가격을 입력하세요.: 10000
배송료는 3000 입니다.