<a href="https://colab.research.google.com/github/uuzin1004/Python_repo/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("3개의 정수값을 입력하시오")
n1 = int(input("n1의 정수값을 입력: "))
n2 = int(input("n2의 정수값을 입력: "))
n3 = int(input("n3의 정수값을 입력: "))

total = n1 + n2 + n3;
average = total /3 ;
print(average)

3개의 정수값을 입력하시오
n1의 정수값을 입력: 20
n1의 정수값을 입력: 230
n1의 정수값을 입력: 50
100.0

In [2]:
import math
#from math import sqrt 
print("'a, b, c' 3개의 값을 입력하시오")
a = int(input("Enter the a: ")) 
b = int(input("Enter the b: ")) 
c = int(input("Enter the c: "))

d = math.sqrt(b*b) - (4*a*c); 
#d = sqrt(b*b) - (4*a*c);
x1 = (-b+d) / (2 * a);
x2 = (-b-d) / (2 * a);
print(x1, x2)

'a, b, c' 3개의 값을 입력하시오
Enter the a: 1004
Enter the b: 1001
Enter the c: 1111
-2222.0 2221.0029880478087

In [5]:
a = int(input("a의 값을 입력하세요: "))
b = int(input("b의 값을 입력하세요: "))
c = int(input("c의 값을 입력하세요: "))

x1 = ( (-b + (math.sqrt(math.pow(b,2) - 4 * a * c)))/2 * a)
x2 = ( (-b - (math.sqrt(math.pow(b,2) - 4 * a * c)))/2 * a)

print("x1 = " , x1)
print("x2 = " , x2)

a의 값을 입력하세요: 1
b의 값을 입력하세요: -1
c의 값을 입력하세요: -2
x1 =  2.0
x2 =  -1.0

In [6]:
total = 0 
counter = 1 
while counter <= 10:
  grade=int(input ("Enter grade: "))
  total = grade + total
  counter = counter + 1
average = total / 10
print(average)

Enter grade: 1
Enter grade: 123
Enter grade: 53
Enter grade: 67
Enter grade: 58
Enter grade: 45
Enter grade: 46
Enter grade: 12
Enter grade: 11
Enter grade: 22
43.8